footer
  .container-fluid.text-center.footer-content
    div.footer-logos-container
      //- div.float-left.footer-left
        //- a.navbar-brand(href='http://wtvglobal.com' target="_blank")
        //-   img.footer-logo(src='/images/footer_logo.png')
        //- p.desc
        //-   a(href='https://www.wtvglobal.com/legal-and-privacy-policy/',target='_blank') Legal And Privacy Policy
        //-   a(href='https://www.wtvglobal.com/contact-us/',target='_blank') Contact Us
    .footer-padding
    .footer-border
      a(href='http://wtvglobal.com' target="_blank")
        img(src="/images/footer_logo.png", alt="footer-logo") 
