.navbar.navbar.fixed-top.navbar-expand-lg(class=noBorderHeader?'no-bottom-border':'')
    nav(id="nav-mobile" class="nav mobile" role="navigation")
        a.navbar-brand(href='/')
          img.header-logo(src='/images/bnp_logo.png')


    .collapse.navbar-collapse
      a.navbar-brand(href='/')
        img.header-logo(src='/images/logo.jpg')
      //div.nav.navbar-nav.info
      //  div.divider
      //  div.title=channelTitle
      //  div.subtitle
      //    =channelTotalView
      //    | &nbsp; total views


block customscript
script.
    const nav = document.querySelector('#nav-mobile');
    const menu = document.querySelector('#menu-mobile');
    const menuToggle = document.querySelector('.nav__toggle-mobile');
    const menuImg = document.querySelector('img.header-logo-mobile')
    let isMenuOpen = false;


    // TOGGLE MENU ACTIVE STATE
    menuToggle.addEventListener('click', e => {
      e.preventDefault();
      isMenuOpen = !isMenuOpen;

      // toggle a11y attributes and active class
      menuToggle.setAttribute('aria-expanded', String(isMenuOpen));
      setTimeout(function(){

      },500)
      menu.hidden = !isMenuOpen;
      nav.classList.toggle('nav--open')
      menuImg.style.display = "block"
      });


    // TRAP TAB INSIDE NAV WHEN OPEN
    nav.addEventListener('keydown', e => {
      // abort if menu isn't open or modifier keys are pressed
      if (!isMenuOpen || e.ctrlKey || e.metaKey || e.altKey) {
      return;
      }

      // listen for tab press and move focus
      // if we're on either end of the navigation
      const menuLinks = menu.querySelectorAll('.nav__link');
      if (e.keyCode === 9) {
      if (e.shiftKey) {
      if (document.activeElement === menuLinks[0]) {
      menuToggle.focus();
      e.preventDefault();
      }
      } else if (document.activeElement === menuToggle) {
      menuLinks[0].focus();
      e.preventDefault();
      }
      }
      });
script.
