extends layout

block content
    div(class="breakouts-container container" style="margin-top:100px; margin-bottom:200px; padding:0 30px")
        h3(style="padding:20px 20px 15px 20px;background:white; font-weight:bold;margin-bottom:0;color:grey" ) Breakout Sessions
        div(class="row breakout-row")
            div(class="col-lg-3 breakout-session")
                button(type="button" class="btn btn-lg btn-primary" disabled) Breakout A
            div(class="col-lg-8 breakout-session") This is some text within a card body.
        div(class="row breakout-row")
            div(class="col-lg-3 breakout-session")
                button(type="button" class="btn btn-lg btn-primary" disabled) Breakout A
            div(class="col-lg-8 breakout-session") This is some text within a card body.
        div(class="row breakout-row")
            div(class="col-lg-3 breakout-session")
                button(type="button" class="btn btn-lg btn-primary" disabled) Breakout A
            div(class="col-lg-8 breakout-session") This is some text within a card body.
        div(class="row breakout-row")
            div(class="col-lg-3 breakout-session")
                button(type="button" class="btn btn-lg btn-primary" disabled) Breakout A
            div(class="col-lg-8 breakout-session") This is some text within a card body.
        div(class="row breakout-row")
            div(class="col-lg-3 breakout-session")
                button(type="button" class="btn btn-lg btn-primary" disabled) Breakout A
            div(class="col-lg-8 breakout-session") This is some text within a card body.
        div(class="row breakout-row")
            div(class="col-lg-3 breakout-session")
                button(type="button" class="btn btn-lg btn-primary" disabled) Breakout A
            div(class="col-lg-8 breakout-session") This is some text within a card body.
        div(class="row breakout-row")
            div(class="col-lg-3 breakout-session")
                button(type="button" class="btn btn-lg btn-primary" disabled) Breakout A
            div(class="col-lg-8 breakout-session") This is some text within a card body.
        div(class="row breakout-row")
            div(class="col-lg-3 breakout-session")
                button(type="button" class="btn btn-lg btn-primary" disabled) Breakout A
            div(class="col-lg-8 breakout-session") This is some text within a card body.




