extends layout

block content

    div(class="agenda-container")
        <div class="agenda-space"></div>
        <table cellspacing="0" cellpadding="0" style="width:30%;">
        <tr>
            <th style="padding:50px;"><h3 style="margin-top:50px;font-weight:bold;margin-bottom:0; color:grey;padding-left:5px;padding-bottom:20px;">Session 1</h3></th>
            <th><h3 style="margin-top:50px;font-weight:bold;margin-bottom:0; color:grey;padding-left:5px;padding-bottom:20px;">Session 2</h3></th>
      
        </tr>
        //- <tr>
        //-     <td><img src="/images/m664.jpg" alt="Responsive image" width="95%"/>
        //-     </td>
        //-     <td><img src="/images/m204678.jpg" alt="Responsive image" width="95%"/>
        //-     </td>
        //- </tr>
        <tr>
            <td style="padding-left:10px;padding-right:10px;margin-top:50px;font-weight:bold;margin-bottom:0; color:grey;padding-left:5px;padding-bottom:20px;"><p style="color:black;">Welcome to the second part of the Fifth World Conference of Speakers of Parliament </p><p style="color:black;">Bienvenue à la première partie de la cinquième Conférence mondiale des présidents de parlement</p>
            </td>
                 <td style="padding-left:10px;padding-right:10px;margin-top:50px;font-weight:bold;margin-bottom:0; color:grey;padding-left:5px;padding-bottom:20px;"><p style="color:black;">Welcome to the second part of the Fifth World Conference of Speakers of Parliament </p><p style="color:black;">Bienvenue dans la deuxième partie du Cinquième Conférence mondiale des présidents de parlement </p>
            </td>
        </tr>
        <tr>
            <td><div class="session-selector-container" style="margin: 0 auto;width:400px;margin-top:50px;font-weight:bold;margin-bottom:0; color:grey;padding-left:5px;padding-bottom:20px;margin-right:50px;"><a href="/live2">Click to watch Session 1</a></div>
            </td>
            <td><div class="session-selector-container"  style="margin: 0 auto;width:400px;margin-top:50px;font-weight:bold;margin-bottom:0; color:grey;padding-left:5px;padding-bottom:20px;"><a href="/live">Click to watch Session 2</a></div>
            </td>
        </tr>
        </table>
    </div>