extends layout
block content
        .webcast-container
            .webcast-container-inner
                .streasmtudio-container
                    iframe.streamstudio-iframe(src="https://streamstudio.world-television.com/1102-1773-25144/en?userSameSite=1" style="border: 0; padding-bottom:50px;" webkitallowfullscreen allowfullscreen frameborder="no")
                    