//extends layout

block content
    div(style="margin-top: 30px")
    | Access to channel page:
    h1 /channel/{channelId}
    //- //div.body-background
    //- //  img(src='/images/body-background.jpg')
    //- //section.hero-wrapper
    //- //  div.hero-carousel
    //- //    div.item
    //- //      div.carousel-item-info
    //- //        div.meta
    //- //          span.meta-item.date
    //- //            i.fas.fa-calendar-alt
    //- //            | 18 OCT 2019
    //- //          span.meta-item.duration
    //- //            i.fas.fa-clock
    //- //            | 5 MINS
    //- //          span.meta-item.category
    //- //            i.fas.fa-layer-group
    //- //            | LEARNING & DEVELOPMENT
    //- //        div.title Amplify your message
    //- //        div.desc Extending the reach of every project to achieve the best audience engagement, through social media, media relations, live streaming, language versioning, localisation, analytics, and brand and content integration.
    //- //        div.controls
    //- //          a.btn-play
    //- //            i.fas.fa-play
    //- //          span.text Play video
    //- //    div.item
    //- //      div.carousel-item-info
    //- //        div.meta
    //- //          span.meta-item.date
    //- //            i.fas.fa-calendar-alt
    //- //            | 18 OCT 2019
    //- //          span.meta-item.duration
    //- //            i.fas.fa-clock
    //- //            | 5 MINS
    //- //          span.meta-item.category
    //- //            i.fas.fa-layer-group
    //- //            | LEARNING & DEVELOPMENT1
    //- //        div.title Amplify your message
    //- //        div.desc Extending the reach of every project to achieve the best audience engagement, through social media, media relations, live streaming, language versioning, localisation, analytics, and brand and content integration.
    //- //        div.controls
    //- //          a.btn-play
    //- //            i.fas.fa-play
    //- //          span.text Play video
    //- //
    //- //section.channels
    //- //  section.play-list
    //- //    div.head
    //- //      span.icon
    //- //        i.fas.fa-layer-group
    //- //      span.title Featured playlist
    //- //      span.time November 2019
    //- //    div.channel-carousel(id="featured-playlist")
    //- //       // each val in [1, 2, 3, 4, 5, 6, 7,8]
    //- //       //   div.item
    //- //       //     div.content-wrap
    //- //       //       div.thumbnail
    //- //       //         div.image
    //- //       //           img(src='/images/carousel-thumb.jpg')
    //- //       //         div.icon
    //- //       //           i.fas.fa-layer-group
    //- //       //       div.info
    //- //       //         div.meta
    //- //       //           span.meta-item
    //- //       //             i.fas.fa-layer-group
    //- //       //             | 10 videos
    //- //       //           span.meta-item
    //- //       //             i.fas.fa-clock
    //- //       //             | 180 MINS
    //- //       //         div.title Communicating during hard times
    //- //       //           =val
    //- //
    //- //  section.play-list
    //- //    div.head
    //- //      span.icon
    //- //        i.fas.fa-play
    //- //      span.title Most watched
    //- //      //span.time November 2019
    //- //    div.channel-carousel(id="most-watched-videos")
    //- //      // each val in [1, 2, 3, 4, 5, 6, 7,8]
    //- //      //   div.item
    //- //      //     div.content-wrap
    //- //      //       div.thumbnail
    //- //      //         div.image
    //- //      //           img(src='/images/carousel-thumb.jpg')
    //- //      //         div.icon
    //- //      //           i.fas.fa-layer-group
    //- //      //       div.info
    //- //      //         div.meta
    //- //      //           span.meta-item
    //- //      //             i.fas.fa-layer-group
    //- //      //             | 10 videos
    //- //      //           span.meta-item
    //- //      //             i.fas.fa-clock
    //- //      //             | 180 MINS
    //- //      //         div.title Communicating during hard times
    //- //      //           =val
