extends ../../layout


block content
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/buberl.jpg" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title" ) Thomas Buberl
                                p(class="card-text" ) <b>CEO of AXA</b>
                                p(class="card-text") Thomas Buberl is the CEO of AXA since 2016. Before joining AXA in 2012, Buberl was the CEO of Zurich Financial Services Switzerland and previously was the Chief Operating Officer and then Chief Marketing and Distribution Officer at the Winterthur Group in Switzerland.

