extends ../../layout


block content
    div.banner-container(style="background-image:url('/images/banner.jpg'); background-size:cover")
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/espinosa.jpg" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title") Patricia Espinosa Cantellano
                                p(class="card-text") <b>Executive Secretary of the UNFCCC</b>
                                p(class="card-text") Executive Secretary of the United Nations Framework Convention on Climate Change (UNFCCC) since 2016, Patricia Espinosa has many years of experience in international relations, supporting synergies between the Paris Agreement and SDGs to improve development worldwide. She leads the global efforts to address climate change, as well as working on international governance, sustainable development, gender equality and human rights protection. She was the Mexican Ambassador in Germany in 2001-2002 and 2012-2016, and Minister of Foreign Affairs in Mexico between 2002 and 2012.


