extends ../../layout


block content
    div.banner-container(style="background-image:url('/images/banner.jpg'); background-size:cover")
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/faber.png" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title") Emmanuel Faber
                                p(class="card-text") <b>CEO of Danone</b>
                                p(class="card-text") Emmanuel Faber is the Chairman of the Board and CEO of Danone. He is strongly committed to promoting innovative and inclusive business models and is Co-Chair of the Consumer Goods Forum and founder of the Action Tank Entreprise & Pauvreté. Faber leads the Business for Inclusive Growth (B4IG) coalition, sponsored by President Emmanuel Macron which was launched at the G7 meeting in August 2019.


