extends ../../layout


block content
    div.banner-container(style="background-image:url('/images/banner.jpg'); background-size:cover")
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/guangchang.jpg" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title" ) Guo Guangchang
                                p(class="card-text" ) <b>Chairman Fosun International</b>
                                p(class="card-text") Mr. Guo graduated from Fudan University with a bachelor’s degree in philosophy in 1989. In 1992, Mr. Guo and four of his classmates jointly founded Fosun with 38,000 RMB start-up capital. Today, Fosun has become a technology-driven consumer group, recording total assets worth RMB 715.7 billion (c.US$ 102.6 billion) as of 31 December 2019. Fosun International ranks No.371 on the 2020 Forbes Global 2000 List.

