extends ../../layout


block content
    div.banner-container(style="background-image:url('/images/banner.jpg'); background-size:cover")
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/iweala.jpg" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title") Dr. Ngozi Okonjo-Iweala
                                p(class="card-text") <b>Co-Chair of the Global Commission for the Economy and Climate, Former Minister of Finance of Nigeria</b>
                                p(class="card-text") Forbes’ Top 3 Most Powerful Women in Africa in 2012 and listed as one of the 50 Greatest World Leaders in 2015 by Fortune, Ngozi Okonjo-Iweala spent 25 years at the World Bank as a development economist and Managing Director. Between 2003 and 2015, she served twice as Minister of Finance of Nigeria and once Minister of Foreign Affairs.  She currently is co-Chair of the Global Commission for the Economy and Climate. In 2020, she was appointed by the IMF to an external advisory group to provide input on policy challenges and by African Union (AU) to be special envoy to solicit international support to help the continent deal with the economic impact of the COVID-19 pandemic.

