extends ../../layout


block content
    div.banner-container(style="background-image:url('/images/banner.jpg'); background-size:cover")
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/jope.png" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title" ) Alan Jope
                                p(class="card-text" ) <b>CEO of Unilever</b>
                                p(class="card-text") Alan Jope was appointed CEO of Unilever in early 2019. He joined Unilever in 1985 and led the China and North Asia region from 2009. He then became the president of Unilever Russia, Africa & Middle East, followed by the president of the Beauty and Personal care Division in 2014.

