extends ../../layout

block content
    div.banner-container(style="background-image:url('/images/banner.jpg'); background-size:cover")
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/kamdani.jpg" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title") Shinta Widjaja Kamdani
                                p(class="card-text") <b>CEO of Sintesa Group</b>
                                p(class="card-text") Asia Leading Businesswoman of the Year in 2013 and FORBES Asia’s 50 powerful Businesswomen in 2012, 2013 and 2016, Shinta Kamdani is since 2014 the CEO of the Sintesa Group which operates in the Property, Energy, Industrial Products, and Consumer Products. She is Vice-Chairwoman of Indonesian ICC, President of Indonesia BCSD, Chairwoman of Indonesia Business Coalition on Women Empowerment and International Board Member of WWF.


