extends ../../layout


block content
    div.banner-container(style="background-image:url('/images/banner.jpg'); background-size:cover")
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/levy.jpg" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title" ) Joaquim Levy
                                p(class="card-text" ) <b>Fellow of Steyer Taylor Institute at Stanford University, Former Minister of Finance of Brazil</b>
                                p(class="card-text") Joaquim Levy is a Brazilian economist and currently the Chief Strategist at Bram-Bradesco Asset Management. Between 2014 and 2015, he was the Federal Republic of Brazil’s Minister of Finance and then appointed in 2016 as the World Bank’s Chief Financial Officer. Levy was the president of the Brazilian Development Bank (BNDES) in 2019. He currently is also an Academic Fellow at Stanford University’s Steyer-Taylor Center for Energy Policy and Finance.

