extends ../../layout


block content
    div.banner-container(style="background-image:url('/images/banner.jpg'); background-size:cover")
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/marques.jpg" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title" ) Roberto Marques
                                p(class="card-text" ) <b>CEO of Natura &Co</b>
                                p(class="card-text") Roberto Marques is CEO at Natura &Co, Executive Chairman for Natura Cosméticos SA, and Director of Avon Products. Marques was previously Executive VP & President of North American Region at Mondelez International, and Group Chairman-Consumer North America at Johnson & Johnson. Natura & Co, which now includes The Body Shop, promotes biodiversity conservation as a founding member of the Union for Ethical BioTrade, and received the international Champions of the Earth 2015 award from UNEP in recognition of the company’s commitment to prioritize sustainability in its business strategy.

