extends ../../layout


block content
    div.banner-container(style="background-image:url('/images/banner.jpg'); background-size:cover")
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/mrema.jpg" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title") Elizabeth Maruma Mrema
                                p(class="card-text") <b>Executive Secretary of the UN Convention on Biological Diversity</b>
                                p(class="card-text") Elizabeth Maruma Mrema was named acting Executive Secretary of the UN Convention on Biological Diversity (CBD) in 2019, and was appointed as Executive Secretary in June 2020. The UN CBD is the international legally binding treaty with the goal of conserving and promoting the sustainable use of biological diversity, and ensuring the fair and equitable sharing of benefits arising from use of genetic resources. Mrema is Director of UNEP’s Law Division, and her work at UNEP has focused on developing, implementing and enforcing environmental laws.

