extends ../../layout

block content
    div.banner-container(style="background-image:url('/images/banner.jpg'); background-size:cover")
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/polman.jpg" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title") Host: Paul Polman
                                p(class="card-text") <b>Co-founder of IMAGINE</b>
                                p(class="card-text") Paul Polman is Co-founder of IMAGINE, a benefit corporation and foundation accelerating business leadership to achieve the Global Goals. He also serves as Chair of the International Chamber of Commerce, The B Team and Oxford Said Business School, is Vice-Chair of the UN Global Compact, and remains a UN-appointed SDG Advocate. He was CEO of Unilever for 10 years where he demonstrated that a long-term, multi-stakeholder model goes hand-in-hand with good financial performance. During his tenure, Unilever was one of the best-performing companies in its sector, delivering ten years of consistent top and bottom line growth.

