extends ../../layout


block content
    div.banner-container(style="background-image:url('/images/banner.jpg'); background-size:cover")
    div.single-speaker-container
        div.container
            div(class="row")
                div(class="col-12 mt-3")
                    div(class="card")
                        div(class="card-horizontal")
                            div(class="img-square-wrapper")
                                img(class="" src="/images/presenters/wei.png" alt="Card image cap")
                            div(class="card-body")
                                h4(class="card-title" ) Host: Tian Wei
                                p(class="card-text") <b>News Anchor</b>
                                p(class="card-text") World Economic Forum “Young Global Leader” and UNDP Special Advisor, Tian Wei is a journalist and has won international awards for her work such as China's National Journalism Awards and the National Award for International Broadcasters. She has a strong involvement on issues of sustainable development, health, poverty alleviation, environmental protection, and gender equity. She started as a reporter, became Washington Correspondent in Middle East, and now hosts "World Insight with Tian Wei" on CGTN, an international debate and high-profile interview program.

