.channels{
  margin-top:30px;
  .play-list{
    margin: 8rem 0px;
    .head{
      margin-bottom: 1.5em;
      .icon{
        width: 3.375rem;
        height: 3.375rem;
        border-radius: 50%;
        background-color: $brand-secondary;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        margin-right: .75rem;

        i{
          margin: 0;
          font-size: 1.5rem;
          margin-left: 2px;
        }
      }

      .title{
        font-size: 2.25rem;
        line-height: 3rem;
        font-weight: 700;
        color:$fontColour;
        @media only screen and (max-width:800px){
          font-size:1.5em!important;
        }
      }

      .time{
        font-size: 1.3125rem;
        line-height: 1.875rem;
        margin-left: .75rem;
        font-weight: 400;
        color: $denoteColor;
      }
    }

    .channel-carousel{
      margin: 0 -1.125rem;
      .slick-list {
        overflow: visible;
      }
      .item{
        padding: 0 1.125rem;

        &:focus{
          outline: none;
        }

        a{
          text-decoration: none;
          &:focus{
            outline: none;
          }

          .content-wrap{
            cursor: pointer;
            background-color: $carouselItemBackground;
            &:focus{
              outline: none;
            }

            .thumbnail{
              box-shadow: none;
              position: relative;
              .image{
                overflow: hidden;
                img{
                  width: 100%;
                  -webkit-transition: -webkit-transform .4s ease-out;
                  transition: -webkit-transform .4s ease-out;
                  transition: transform .4s ease-out;
                  transition: transform .4s ease-out,-webkit-transform .4s ease-out;
                }
              }

              .icon{
                color: #fff;
                position: absolute;
                z-index: 3;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-1.6875rem,-1.6875rem);
                transform: translate(-1.6875rem,-1.6875rem);
                width: 3.375rem;
                height: 3.375rem;
                background-color: $carouselItemBackground;
                border-radius: 3px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-transition: background-color .2s;
                transition: background-color .2s;
                i{
                  margin: 0;
                  font-size: 1.5rem;
                  margin-left: 2px;
                }
              }

              &:after{
                content: "";
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                height: 7.5em;
                z-index: 2;
                background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(39,45,58,0)),to(#ffffff));
                background-image: linear-gradient(180deg,rgba(39,45,58,0),#ffffff);
              }
            }

            .info{
              padding: 0 1.5rem 1.5rem 1.5rem;
              .meta{
                margin-bottom: 0.75rem;
                .meta-item{
                  font-size: .875rem;
                  line-height: 1.125rem;
                  text-transform: uppercase;
                  color: $denoteColor;
                  margin-right: 0.75rem;
                  -webkit-transition: color .2s;
                  transition: color .2s;

                  i{
                    color: $mainColor;
                    &.sharp-playlist {
                      width: 16px;
                      height: 14px;
                      margin-right: 6px;
                    }
                    &.clock-icon {
                      content: url('../../../images/clock_dark.svg');
                      width: 16px;
                      height: 16px;
                      margin-right: 6px;
                      margin-bottom: -2.5px;
                      background-size: cover;
                      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 61 (89581) - https://sketch.com --%3E%3Ctitle%3E0: Atoms / Colours / Blue 500%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpath d='M10.293,11.707 L7,8.414 L7,4 L9,4 L9,7.586 L11.707,10.293 L10.293,11.707 Z M8,0 C3.582,0 0,3.582 0,8 C0,12.418 3.582,16 8,16 C12.418,16 16,12.418 16,8 C16,3.582 12.418,0 8,0 Z M8,14 C4.686,14 2,11.314 2,8 C2,4.686 4.686,2 8,2 C11.314,2 14,4.686 14,8 C14,11.314 11.314,14 8,14 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0:-Basics-/-Icons-/-Time'%3E%3Cg id='0:-Atoms-/-Colours-/-Blue-500'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Mask' fill='%23FFFFFF' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3Cg id='0:-Basics-/-Colours-/-Blue-500' mask='url(%23mask-2)' fill='%23FFFFFF'%3E%3Crect id='Rectangle' x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    }
                    &.calendar-icon {
                      content: url('../../../images/calendar_dark.svg');
                      width: 16px;
                      height: 16px;
                      margin-right: 6px;
                      margin-bottom: -2px;
                      background-size: cover;
                      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 61 (89581) - https://sketch.com --%3E%3Ctitle%3E0: Atoms / Colours / Blue 500%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpath d='M14,2 L14,0 L12,0 L12,2 L4,2 L4,0 L2,0 L2,2 L0,2 L0,16 L16,16 L16,2 L14,2 Z M3,15 L1,15 L1,13 L3,13 L3,15 Z M3,12 L1,12 L1,10 L3,10 L3,12 Z M3,9 L1,9 L1,7 L3,7 L3,9 Z M3,6 L1,6 L1,4 L3,4 L3,6 Z M6,15 L4,15 L4,13 L6,13 L6,15 Z M6,12 L4,12 L4,10 L6,10 L6,12 Z M6,9 L4,9 L4,7 L6,7 L6,9 Z M6,6 L4,6 L4,4 L6,4 L6,6 Z M9,15 L7,15 L7,13 L9,13 L9,15 Z M9,12 L7,12 L7,10 L9,10 L9,12 Z M9,9 L7,9 L7,7 L9,7 L9,9 Z M9,6 L7,6 L7,4 L9,4 L9,6 Z M12,15 L10,15 L10,13 L12,13 L12,15 Z M12,12 L10,12 L10,10 L12,10 L12,12 Z M12,9 L10,9 L10,7 L12,7 L12,9 Z M12,6 L10,6 L10,4 L12,4 L12,6 Z M15,15 L13,15 L13,13 L15,13 L15,15 Z M15,12 L13,12 L13,10 L15,10 L15,12 Z M15,9 L13,9 L13,7 L15,7 L15,9 Z M15,6 L13,6 L13,4 L15,4 L15,6 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0:-Basics-/-Icons-/-Calendar'%3E%3Cg id='0:-Atoms-/-Colours-/-Blue-500'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Mask' fill='%23FFFFFF' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3Cg id='0:-Basics-/-Colours-/-Blue-500' mask='url(%23mask-2)' fill='%23FFFFFF'%3E%3Crect id='Rectangle' x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    }
                  }
                }
              }

              .title{
                line-height: 1.875rem;
                font-size: 1.625rem;
                font-weight: 700;
                color: #222222;
                min-height: 4rem;

                @media only screen and (max-width:800px){
                  font-size:1.2em!important;
                }
              }
            }
            &:hover{
              .thumbnail{
                .image{
                  img{
                    transform: scale(1.05);
                    -webkit-transform: scale(1.05);
                  }
                }
                .icon{
                  background-color: rgba(255,255,255,0.4);
                }
              }

              .info{
                .meta{
                  .meta-item{
                    color: $mainColor;
                  }
                }
              }
            }
          }
        }
      }

      .slick-dots{
        list-style: none;
        padding: 0;
        margin:0;
        text-align: center;
        margin-top: 19px;
        li {
          display: inline-block;
          margin: 0px 9px;
          button {

            font-size: 0;
            line-height: 0;
            display: block;
            width: 12px;
            height: 12px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background-color: $brand-success;
            border-radius: 50%;
            position: relative;
          }
          &.slick-active{
            margin: 0px 7px;
            button{
              background-color: $highlightColor;
              width: 16px;
              height: 16px;
            }
          }
        }
      }

      .slick-arrow{
        //display: none !important;
        background-color: $brand-success;
        border-radius: 3px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 3.375rem;
        height: 6rem;
        -webkit-transform: translateY(-5rem);
        transform: translateY(-5rem);
        -webkit-transition: background-color .2s,-webkit-transform .2s;
        transition: background-color .2s,transform .2s,-webkit-transform .2s;
        border: none;
        position: absolute;
        top: 50%;
        z-index: 2;

        &:focus{
          outline: none;
        }

        &:hover{
          background-color: #404859;
        }

        &.slick-disabled{
          display: none !important;
        }

        &.slick-next{
          right: -4.54rem; // 1.125rem;
        }

        &.slick-prev{
          left: -4.5rem; // 1.125rem;
        }

        svg{
          width: 2em;
          height: 2em;
        }
      }
    }
  }
}
.sharp-playbutton {
  content: url('../../../images/sharp-playbutton.svg');
  margin-left: 2px;
  width: 21px;
  height: 25px;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='10px' height='12px' viewBox='0 0 10 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 61 (89581) - https://sketch.com --%3E%3Ctitle%3E0: Atoms / Colours / Blue 500%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0 0 10 6 0 12'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0:-Basics-/-Icons-/-Play' transform='translate(-4.000000, -2.000000)'%3E%3Cg id='0:-Atoms-/-Colours-/-Blue-500' transform='translate(4.000000, 2.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Mask' fill='%23FFFFFF' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3Cg id='0:-Basics-/-Colours-/-Blue-500' mask='url(%23mask-2)' fill='%23FFFFFF'%3E%3Cg transform='translate(-4.000000, -2.000000)' id='Rectangle'%3E%3Crect x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.sharp-playbutton-white {
  content: url('../../../images/sharp-playbutton_white.svg');
  margin-left: 2px;
  width: 21px;
  height: 25px;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='10px' height='12px' viewBox='0 0 10 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 61 (89581) - https://sketch.com --%3E%3Ctitle%3E0: Atoms / Colours / Blue 500%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0 0 10 6 0 12'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0:-Basics-/-Icons-/-Play' transform='translate(-4.000000, -2.000000)'%3E%3Cg id='0:-Atoms-/-Colours-/-Blue-500' transform='translate(4.000000, 2.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Mask' fill='%23FFFFFF' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3Cg id='0:-Basics-/-Colours-/-Blue-500' mask='url(%23mask-2)' fill='%23FFFFFF'%3E%3Cg transform='translate(-4.000000, -2.000000)' id='Rectangle'%3E%3Crect x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.sharp-playlist {
  content: url('../../../images/sharp-playlist.svg');
  width: 32px;
  height: 28px;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='14px' viewBox='0 0 16 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 61 (89581) - https://sketch.com --%3E%3Ctitle%3E0: Atoms / Colours / Blue 500%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpath d='M16,4 L8,0 L0,4 L8,8 L16,4 Z M8,1.328 L13.345,4 L8,6.672 L2.655,4 L8,1.328 Z M14.398,6.199 L16,7 L8,11 L0,7 L1.602,6.199 L8,9.398 L14.398,6.199 Z M14.398,9.199 L16,10 L8,14 L0,10 L1.602,9.199 L8,12.398 L14.398,9.199 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0:-Basics-/-Icons-/-Stack' transform='translate(0.000000, -1.000000)'%3E%3Cg id='0:-Atoms-/-Colours-/-Blue-500' transform='translate(0.000000, 1.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Mask' fill='%23FFFFFF' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3Cg id='0:-Basics-/-Colours-/-Blue-500' mask='url(%23mask-2)' fill='%23FFFFFF'%3E%3Cg transform='translate(0.000000, -1.000000)' id='Rectangle'%3E%3Crect x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.sharp-playlist-white {
  content: url('../../../images/sharp-playlist_white.svg');
  width: 32px;
  height: 28px;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='14px' viewBox='0 0 16 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 61 (89581) - https://sketch.com --%3E%3Ctitle%3E0: Atoms / Colours / Blue 500%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpath d='M16,4 L8,0 L0,4 L8,8 L16,4 Z M8,1.328 L13.345,4 L8,6.672 L2.655,4 L8,1.328 Z M14.398,6.199 L16,7 L8,11 L0,7 L1.602,6.199 L8,9.398 L14.398,6.199 Z M14.398,9.199 L16,10 L8,14 L0,10 L1.602,9.199 L8,12.398 L14.398,9.199 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0:-Basics-/-Icons-/-Stack' transform='translate(0.000000, -1.000000)'%3E%3Cg id='0:-Atoms-/-Colours-/-Blue-500' transform='translate(0.000000, 1.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Mask' fill='%23FFFFFF' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3Cg id='0:-Basics-/-Colours-/-Blue-500' mask='url(%23mask-2)' fill='%23FFFFFF'%3E%3Cg transform='translate(0.000000, -1.000000)' id='Rectangle'%3E%3Crect x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

// masks for slides are unactived
#featured-playlist,
#most-watched-videos,
#recent-events-videos,
.playlist-video-carousel {
  .play-list{
    .channel-carousel {
      .item {
        &.slick-slide {
          position: relative;
        }
        &.slick-active {
          .slide-unactive-mask {
            display: none;
          }
        }
        .slide-unactive-mask {
          position: absolute;
          height: 100%;
          width: calc(100% - 36px);
          top: 0px;
          left: 18px;
          background-color: rgba(36, 40, 49, 0.75);
          z-index: 2;
          display:none;
        }
      }
    }
  }
}

#featured-playlist {
  .play-list {
    margin-top: 0px;
  }
}
